<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Jangan redirect jika mengarah ke direktori API atau PDF
  RewriteCond %{REQUEST_URI} !^/api/ [NC]
  RewriteCond %{REQUEST_URI} !^/pdf/ [NC]
  
  # Jangan redirect jika file atau direktori benar-benar ada
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Selain kondisi di atas, redirect semua request ke index.html
  RewriteRule . /index.html [L]
</IfModule>
